@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
header{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 2%;
}


body{
    background-color: black;    
    color: #00ffff;
    text-align: center;
}


h1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 2%;
}


p{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding: 2%;
}

div{
    background-color: purple;
    width: 100px;
    height: 100px;
    padding: 50px;
    position: relative;
    animation: movimento 5s infinite;
}

@keyframes movimento {
    0% {top: 0vh; left: 0vw;}
    25% {top: 0vh; left: 88.5vw;}
    50% {top: 77vh; left: 88.5vw;}
    75% {top: 77vh; left: 0vw;}
    100% {top: 0vh; left: 0vw;}
}
